[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "libzippp"]
	path = libzippp
	url = https://github.com/ctabin/libzippp.git
[submodule "libzip"]
	path = libzip
	url = https://github.com/nih-at/libzip.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
